<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxw53UpoJRa29vjHRidW0Eotx2WzJVA04</string>
	<key>GCM_SENDER_ID</key>
	<string>145944314610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>caw.Rivals</string>
	<key>PROJECT_ID</key>
	<string>rivaldb-a0aba</string>
	<key>STORAGE_BUCKET</key>
	<string>rivaldb-a0aba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145944314610:ios:1e161ceec5dd493a6c066b</string>
	<key>DATABASE_URL</key>
	<string>https://rivaldb-a0aba-default-rtdb.firebaseio.com</string>
</dict>
</plist>